.new-article{
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.new-article button{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid#40005d;
    border: 1px solid#40005d;
    background-color:#633974;
}
.new-article button:hover,
.new-article button:active {
    border-color: #510674;
    background-color:#633974 ;
    
}
.new-article button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}
.new-article button.alternative:hover,
.new-article button.alternative:active{
    background-color: #ddb3f8;
}


